:root{

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#header {
    display:flex;
    justify-content: space-around;
    background-color:darkgray;
    color: oldlace;
    padding: 5px;
}

#left-container {
  
}

form {
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
}

#search-city {
    width:100%;
}

#search-btn i {
    width: 15px;
   
    

}
