 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace; 

 

 main {
    margin: 0 auto;
    max-width: 90%;
    padding: 50px 30px;
  }
  
   :root {
    --primary: #392759;
    --secondary: #858786;
    --tertiary: #81171B;
    --light: #F4F1F9;
    --dark: #323432;
    --darker: #0A0A0A;
    --error: rgb(228, 46, 1);
    --spacing-one: calc(1rem * 0.5);
    --spacing-two: calc(1rem);
    --spacing-five: calc(2.5rem);
  }
  
  * {
    box-sizing: border-box;
  }

  .current-weather {
      display: flex;
      flex-direction: row;
      margin: 10px,
  }

  #uv-color{
      display: inline-block;
      width: 50px;
      height: 30px;
      border-radius: 13%;
      text-align: center;
      padding-right: 3px;

  }

  .favourable{
      background-color:aquamarine;
  }
  .moderate{
      background-color:goldenrod;
  }
  .severe{
      background-color:tomato;
  }

